@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

html {
    /* A cada 1rem será considerado 10px */ 
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    background-color: darkgray;
}

/*------------ header ------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5% 5%;
    background: #0e2f75;
    z-index: 100;
}

.navbar a {
    font-size: 1.8rem;
    color: #22e6dc;
    text-decoration: none;
    font-weight: 500;
    padding: 1%;
}

/*------------ home ------------*/
.section {
    position: relative;
}
.home {
    height: 100vh;
    margin-top: 5%;
}

.conteiner-home {
    display: flex;
    justify-content: space-evenly;
    margin: 5%;
    padding: 2%;
}
.conteiner-home-text {
    margin-right: 2%;
    margin-top: 5%;
}
.conteiner-home-text p {
    text-align: justify;
}